## Assignment 4

### Problem Statement 1

In [ ]:
Is gender independent of education level? A random sample of 395 people were 
surveyed and each person was asked to report the highest education level they 
obtained. The data that resulted from the survey is summarized in the following table: 
 
     High School   Bachelors   Masters   Ph.d.  Total 
Female    60          54         46       41     201 
Male      40          44         53       57     194 
Total     100         98         99       98     395  

Question: Are gender and education level dependent at 5% level of significance? In 
other words, given the data collected above, is there a relationship between the 
gender of an individual and the level of education that they have obtained?

In [ ]:
H0: Gender and education level are independent
H1: Gender and education level are dependent

In [ ]:
  
O    E      O-E    (O-E)^2	(O-E)^2 /E
60	50.89	9.11	83.06	1.63
54	49.87	4.13	17.07	0.34
46	50.38	-4.38	19.16	0.38
41	49.87	-8.87	78.65	1.58
40	49.11	-9.11	83.06	1.69
44	48.13	-4.13	17.07	0.35
53	48.62	4.38	19.16	0.39
57	48.13	8.87	78.65	1.63

Chi square calculated = 8.01
df =1*3=3

Chi square(0.05)=7.815

We reject the null hypothesis and accept the alternate hypothesis.

### Problem Statement 2

In [ ]:
Using the following data, perform a oneway analysis of variance using Î±=.05. Write 
up the results in APA format. 
  
[Group1: 51, 45, 33, 45, 67]  
[Group2: 23, 43, 23, 43, 45]  
[Group3: 56, 76, 74, 87, 56]

In [ ]:
	Group1  	Group 2 	Group 3 	(G1-mean)^2 	(G2-mean)^2 	(G3-mean)^2
    	51  	23          	56      	7.84    	153.76      	190.44
    	45  	43          	76      	10.24   	57.76       	38.44
    	33   	23          	74       	231.04   	153.76      	17.64
    	45  	43          	87       	10.24   	57.76       	295.84
    	67  	45          	56        	353.44   	92.16       	190.44
Total	241 	177         	349     	612.8   	612.8       	612.8
Mean	48.2	35.4        	69.8			
Grand mean	51.13					
 
SS bet	3022.93
MSST	1511.47

SS within	1838.40
MSSE	153.20
        
Ftest	9.87
F(0.05)(2,14)	3.739

Reject the H0 and accept the H1

### Problem Statement 3

In [ ]:
Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.
For 10, 20, 30, 40, 50:

In [ ]:
	S1	S2	(S1-S1mean)^2	(S2-S2mean)^2
	10	5   	400         	100
	20	10  	100         	25
	30	15    	0            	0
	40	20  	100         	25
	50	25  	400         	100
				
Total	150	75	1000	250
Mean	30	15		
Grand mean	22.5	
SD	sqrt(1/(5-1)((10-30)^2+(20-30)^2+(30-30)^2+(40-30)^2+(50-30)^2) 	sqrt(1/(5-1)((5-15)^2+(10-15)^2+(15-15)^2+(20-15)^2+(25-15)^2))
SD	15.8113883	7.90569415
Variance = SD^2 	250 	62.5



SSbet = (5*(30-C23)^2)+(5*(15-C23)^2) = 562.5
MSST = C29/2-1 = 280.25

SS within = 1250
MSSE = 156.25

Fstats = 1.7936

Calculate the Ftest  = Variance S1 / Variance S2
Ftest = 4

         
         
Notes: Refer Pg 36 of Hypothesis doc