### Assignment 2

### Problem Statement 1

In [ ]:
In each of the following situations, state whether it is a correctly stated hypothesis
testing problem and why?
1. ùêª0: ùúá = 25, ùêª1: ùúá ‚â† 25
2. ùêª0: ùúé > 10, ùêª1: ùúé = 10
3. ùêª0: ùë• = 50, ùêª1: ùë• ‚â† 50
4. ùêª0: ùëù = 0.1, ùêª1: ùëù = 0.5
5. ùêª0: ùë† = 30, ùêª1: ùë† > 30

In [ ]:
1. ùêª0: ùúá = 25, ùêª1: ùúá ‚â† 25  : Correct

In [ ]:
2. ùêª0: ùúé > 10, ùêª1: ùúé = 10  : Incorrect
   H1 should include all the values not in the H0 group. Hence it shoule be H1: ùúé <= 10

In [ ]:
3. ùêª0: ùë• = 50, ùêª1: ùë• ‚â† 50 : Correct

In [ ]:
4. ùêª0: ùëù = 0.1, ùêª1: ùëù = 0.5 : Incorrect
   H1 should include all the values not in the H0 group. Therefore it should be either of the cases:
    ùêª0: ùëù = 0.1, ùêª1: ùëù ‚â† 0.1

In [ ]:
5. ùêª0: ùë† = 30, ùêª1: ùë† > 30  : Incorrect
    H1 should include all the values not in the H0 group. Hence it shoule be H1: s ‚â† 30

### Problem Statement 2

In [ ]:
The college bookstore tells prospective students that the average cost of its
textbooks is Rs. 52 with a standard deviation of Rs. 4.50. A group of smart statistics
students thinks that the average cost is higher. To test the bookstore‚Äôs claim against
their alternative, the students will select a random sample of size 100. Assume that
the mean from their random sample is Rs. 52.80. Perform a hypothesis test at the
5% level of significance and state your decision.

In [ ]:
mean = 52 SD =4.5
n =100 sample mean = 52.8
alpha = 5%=0.05

In [ ]:
H0: mean=52
H1: mean not equal 52

In [ ]:
std error = 4.5/(100)2 = 0.45

Z = 52.8 - 52 / 0.45 = 1.78
  
z(0.05)= +-1.64

Since Z falls in the acceptance region
We accept H0: mean = 52

### Problem Statement 3

In [ ]:
A certain chemical pollutant in the Genesee River has been constant for several
years with mean Œº = 34 ppm (parts per million) and standard deviation œÉ = 8 ppm. A
group of factory representatives whose companies discharge liquids into the river is
now claiming that they have lowered the average with improved filtration devices. A
group of environmentalists will test to see if this is true at the 1% level of
significance. Assume \ that their sample of size 50 gives a mean of 32.5 ppm.
Perform a hypothesis test at the 1% level of significance and state your decision.

In [ ]:
Œº = 34 ppm  œÉ = 8 ppm
n=50 sample mean = 32.5  
alpha=1%=0.01

In [ ]:
H0: Œº = 34 
H1: Œº not equal 34

In [ ]:
Z = 32.5-34/ (8/(50)^0.5) 
  = - 1.5/1.13
  = -1.32

Z(0.01)= -2.33 & +2.33

Since Z falls in the acceptance region
We accept H0: Œº = 34, Their claim that they have lowered the average with improved filtration devicesis true

### Problem Statement 4

In [ ]:
Based on population figures and other general information on the U.S. population,
suppose it has been estimated that, on average, a family of four in the U.S. spends
about $1135 annually on dental expenditures. Suppose further that a regional dental
association wants to test to determine if this figure is accurate for their area of
country. To test this, 22 families of 4 are randomly selected from the population in
that area of the country and a log is kept of the family‚Äôs dental expenditure for one
year. The resulting data are given below. Assuming, that dental expenditure is
normally distributed in the population, use the data and an alpha of 0.5 to test the
dental association‚Äôs hypothesis.
1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,
872, 913, 944, 954, 987, 1695, 995, 1003, 994

In [ ]:
P mean = 1135
n =22  alpha = 0.5 sample mean = 1031.32 SD = 240.37

In [ ]:
H0: Œº = 1135
H1: Œº not equal 1135

In [ ]:
Std error = 240.37/(22)^0.5 = 51.25

Z = 1031.32- 1135/51.25
  = -2.02
    
    
Z(0.5)=-1.96 & 1.96

Z lies in the critical region, hence we reject the null hypothesis and accept the alternate hypothesis
Hence, the average dental expenses is not accurate for this area.

### Problem Statement 5

In [ ]:
In a report prepared by the Economic Research Department of a major bank the
Department manager maintains that the average annual family income on Metropolis
is $48,432. What do you conclude about the validity of the report if a random sample
of 400 families shows and average income of $48,574 with a standard deviation of
2000?

In [ ]:
mean = 48432
n = 400 sampel mean=48574  SD=2000
alpa=10%

In [ ]:
H0:  Œº = 48432
H1:  Œº not equal 48432

In [ ]:
Std error = 2000/(400)^0.5 = 100

Z = 48574-48432/100
  = 1.42
    
Z(0.1)= -1.64 & 1.64

Since Z falls in the acceptance region
We accept H0: Œº = 48432

### Problem Statement 6

In [ ]:
Suppose that in past years the average price per square foot for warehouses in the
United States has been $32.28. A national real estate investor wants to determine
whether that figure has changed now. The investor hires a researcher who randomly
samples 19 warehouses that are for sale across the United States and finds that the
mean price per square foot is $31.67, with a standard deviation of $1.29. assume
that the prices of warehouse footage are normally distributed in population. If the
researcher uses a 5% level of significance, what statistical conclusion can be
reached? What are the hypotheses?

In [ ]:
P mean = 32.28
n=19   S mean=31.67  SD=1.29 alpha=5%=0.05

In [ ]:
Ho:  Œº = 32.28
H1:  Œº not equal 32.28

In [ ]:
std error = 1.29/(19)^0.5 = 0.296

Z = 31.67-32.28/0.296
  = -2.06
    
    
Z(0.05)=-1.64 & 1.64

Since Z lies in the crticial region, we reject the null hypothesis and accept the alterate hypothesis
Hence, the average price per square foot has changed now.

### Problem Statement 7

In [ ]:
Fill in the blank spaces in the table and draw your conclusions from it.

In [ ]:
Acceptance      	Sample   	Œ±    	Œ≤ at Œº =52    	Œ≤ at Œº = 50.5
Region              Size
48.5 < x < 51.5     10      0.0576       0.2643           0.8923
48 < x < 52         10      0.0114       0.5              0.9705
48.81 < x < 51.19   16      0.0576       0.0966           0.8606
48.42 < x < 51.58   16      0.0114       0.2515           0.9578

In [ ]:
Notes: Refer excel working
1) 48.5 < mean  < 51.5 
Decision criteria for testing H0 : Œº = 50 cm/sec versus H1 : Œº not equal 50 cm/sec.

Type I Error:
- The probability of making a type I error is denoted by Œ±:
   Œ± = P(type I error)
     = P(reject H0 when H0 is true)
    
- The probability of type I error Œ± is also called the significant level, the
Œ±-error or the size of test.

‚Ä¢ If the true mean Œº = 50 cm/sec and the standard
deviation œÉ = 2.5, then the sample mean is normal with standard deviation
œÉ /‚àön = 2.5/‚àö10 = 0.79.
‚Ä¢ The corresponding probability of type I error is        
    Œ± = P(  ÃÑX <48.5; Œº = 50)+P(  ÃÑX >51.5; Œº = 50)
       Z1 = 48.5-50/0.79 = -1.90, Z2 = 51.5-50/0.79 = 1.90
        P(Z< -1.90)+ P(Z>1.90)
        = 0.0287 +0.0287 = 0.0574
        
This implies that 5.74% of all random samples would lead to rejection
of the hypothesis H0 : Œº = 50 cm/sec when the true mean burning rate is
really 50 cm/sec.
The more significant the test is, the more restrictive the test becomes and
the higher the type I error will be.
  
‚Ä¢ The probability of making a type II error is denoted by Œ≤ :
   Œ≤ = P(type II error)
     = P(fail to reject H0 when H0 is false) (8)
‚Ä¢ To calculate Œ≤ (sometimes called the Œ≤ -error), we must have a specific
alternative hypothesis, i.e, we must have a particular value of Œº.
‚Ä¢ A type II error will be committed if the sample mean  ÃÑX falls between 48.5
and 51.5, when Œº = 52 and n = 10.  

 The corresponding probability of type II error is
Œ≤ = P(48.5 ‚â§  ÃÑX ‚â§51.5; Œº = 52)
 z1 = 48.5 ‚àí52/0.79 = ‚àí4.43
 z2 = 51.5 ‚àí52/0.79 = ‚àí0.63

Œ≤ = P(‚àí4.43 ‚â§Z ‚â§‚àí0.63)
  = P(Z ‚â§‚àí0.63)‚àíP(Z ‚â§‚àí4.43)
  = 0.2643 ‚àí0.0000 = 0.2643

In [ ]:
- Rejecting the null hypothesis H0 when it it true is defined as type I error.
- Failing to reject the null hypothesis H0 when it it false is defined as type II error

### Problem Statement 8

In [ ]:
Find the t-score for a sample size of 16 taken from a population with mean 10 when
the sample mean is 12 and the sample standard deviation is 1.5.

In [ ]:
n =16, P mean =10
S mean =12 SD=1.5
df = 16-1=15

1- alpha=0.99
alpha= 0.01

In [ ]:
std error = 1.5/(16)^0.5 = 0.375

T = 12-10/0.375
  = 5.33
    
T(0.01)= -1.753 & 1.753

### Problem Statement 9

In [ ]:
Find the t-score below which we can expect 99% of sample means will fall if samples
of size 16 are taken from a normally distributed population.

In [ ]:
n=16
1- alpha=0.99, alpha =0.01

In [ ]:
t(0.01)= -2.602 (one tail test)

### Problem Statement 10

In [ ]:
If a random sample of size 25 drawn from a normal population gives a mean of 60
and a standard deviation of 4, find the range of t-scores where we can expect to find
the middle 95% of all sample means. Compute the probability that (‚àíùë°0.05 <ùë°<ùë°0.10).

In [ ]:
n=25 mean =60  SD=4  df=24
CI=95% 1- alpha=0.95  alpha = 0.05

In [ ]:
std error = 4/(25)^0.5 = 0.8

‚àíùë°0.05 < ùë° < ùë°0.10
            
-t0.5  =  -1.711
t0.1   = 1.318

-1.711 < t < 1.318

### Problem Statement 11

In [ ]:
Two-tailed test for difference between two population means
Is there evidence to conclude that the number of people travelling from Bangalore to
Chennai is different from the number of people travelling from Bangalore to Hosur in
a week, given the following:
Population 1: Bangalore to Chennai n1 = 1200
x1 = 452
s1 = 212
Population 2: Bangalore to Hosur n2 = 800
x2 = 523
s2 = 185

In [ ]:
Let alpha =0.05
CI=95%
n1 =1200   n2=800
x1=452     x2=523
s1=212     s2=185

In [ ]:
H0:  Œº1 = Œº2
H1:  Œº1 not equal Œº2
    
    
std error = SQRT((s1^2 /n1) + (s2^2 /n2) )
          = SQRT((212^2 /1200) + (185^2 /800) )
          = SQRT(37.45 +42.78) = SQRT(80.23)
          = 8.96

In [ ]:
z =452-523/8.96 
  = - 7.924
    
    
Two tail test
alpha =0.05/2  = 0.25
Z(0.25)= -1.96 & +1.96

Since Z lies in the critical region, we reject the null hypothesis.
Hence, there is diffference between both the population means

### Problem Statement 12

In [ ]:
Is there evidence to conclude that the number of people preferring Duracell battery is
different from the number of people preferring Energizer battery, given the following:
Population 1: Duracell
n1 = 100
x1 = 308
s1 = 84
Population 2: Energizer
n2 = 100
x2 = 254
s2 = 67

In [ ]:
n1 = 100  n2 = 100
x1 = 308  x2 = 254
s1 = 84   s2 = 67

In [ ]:
H0:  Œº1 = Œº2
H1:  Œº1 not equal Œº2

In [ ]:
std error = SQRT((s1^2 /n1) + (s2^2 /n2) )
          = SQRT((84^2 /100) + (67^2 /100) )
          = SQRT( 70.56 + 44.89) = SQRT(115.45)
          = 10.74

In [ ]:
z = x1-x2/std error 
  = 308-254/10.74
  = 5.03  
    
Two tail test
alpha =0.05/2  = 0.25
Z(0.25)= -1.96 & +1.96

Since Z lies in the critical region, we reject the null hypothesis.
Hence,to conclude that the number of people preferring Duracell battery is
different from the number of people preferring Energizer battery

### Problem Statement 13

In [ ]:
Pooled estimate of the population variance
Does the data provide sufficient evidence to conclude that average percentage
increase in the price of sugar differs when it is sold at two different prices?
Population 1: Price of sugar = Rs. 27.50 n1 = 14
x1 = 0.317%
s1 = 0.12%
Population 2: Price of sugar = Rs. 20.00 n2 = 9
x2 = 0.21%
s2 = 0.11%

In [ ]:
Price of sugar = Rs. 27.50 
n1 = 14
x1 = 0.317%
s1 = 0.12%

Price of sugar = Rs. 20.00 
n2 = 9
x2 = 0.21%
s2 = 0.11%

H0: Œº1 - Œº2 =0
H1: Œº1 - Œº2 not equal

In [ ]:
df = n1+n2-2 = 14+20-2 =32

In [ ]:
SD = SQRT(s1^2 + s2^2 / n1+n2-2) 
   = SQRT(0.12^2 + 0.11^2 / 14+9-2)= SQRT(0.00126)
   = 0.035


Std error = SQRT(0.035^2/14  + 0.035^2/9)
          = SQRT(0.0000875 + 0.000136)
          = 0.015

In [ ]:
T test = x1-x2/Std error
       = 0.317-0.21 / 0.015
       = 7.13

t(0.025)=2.045

H0 may be rejected at 5 % level of significance

### Problem Statement 14

In [ ]:
The manufacturers of compact disk players want to test whether a small price
reduction is enough to increase sales of their product. Is there evidence that the
small price reduction is enough to increase sales of compact disk players?
Population 1: Before reduction
n1 = 15
x1 = Rs. 6598 s1 = Rs. 844
Population 2: After reduction n2 = 12
x2 = RS. 6870
s2 = Rs. 669

In [ ]:
H0: Œº1 - Œº2 <=0
H1: Œº1 - Œº2 >0    
    
Population 1: Before reduction
n1 = 15
x1 = Rs. 6598 
s1 = Rs. 844

Population 2: After reduction 
n2 = 12
x2 = RS. 6870
s2 = Rs. 669

In [ ]:
df = n1+n2-2 = 15+12-2 = 25

In [ ]:
SD = SQRT(s1^2 + s2^2 / n1+n2-2) 
   = SQRT(844^2 + 669^2 / 25)= SQRT(46395.88)
   = 215.40


Std error = SQRT(215.4^2/15  + 215.4^2/12)
          = SQRT( 3093.144 + 3866.43)
          = 83.42

In [ ]:
T test = x1-x2/Std error
       = 6598-6870 / 83.42
       = 0.91

t(0.10)=1.316

H0 may be accepted at 10 % level of significance

### Problem Statement 15

In [ ]:
Comparisons of two population proportions when the hypothesized difference is zero
Carry out a two-tailed test of the equality of banks‚Äô share of the car loan market in
1980 and 1995.
Population 1: 1980
n1 = 1000
x1 = 53
ùëù 1 = 0.53
Population 2: 1985
n2 = 100
x2 = 43
ùëù 2= 0.53

In [ ]:
H0: p1-p2 =0
H1: p1-p2 not equal 0    
    
Population 1: 1980
n1 = 1000
x1 = 53
ùëù 1 = 0.53
Population 2: 1985
n2 = 100
x2 = 43
ùëù 2= 0.53

In [ ]:
p(hat) = x1 + x2 / n1 + n2 = 53 +43 / 1000+100
       = 0.087
     
Z = (p1-p2)-0 / SQRT((p(hat)(1-phat)(1/n1 + 1/n2)))   # Formula
  = (0.53 - 0.43)-0 / sqrt((.48*.52)(1/1000 + 1/100))
  = 1.415

Z(0.05)= -1.64

H0 may be accepted at 10% level of significance

### Problem Statement 16

In [ ]:
Carry out a one-tailed test to determine whether the population proportion of
traveler‚Äôs check buyers who buy at least $2500 in checks when sweepstakes prizes
are offered as at least 10% higher than the proportion of such buyers when no
sweepstakes are on.
Population 1: With sweepstakes
n1 = 300
x1 = 120
ùëù1 = 0.40
Population 2: No sweepstakes n2 = 700
x2 = 140
ùëù 2= 0.20

In [ ]:
Population 1: With sweepstakes
n1 = 300
x1 = 120
ùëù = 0.40
Population 2: No sweepstakes 
n2 = 700
x2 = 140
ùëù2= 0.20

H0: p1-p2 <= 0.10
H1: p1-p2 > 0.10

In [ ]:
 Z = (p1-p2)-0.10 / SQRT((p1(1-p1)/n1) + (p2(1-p2)/n2))   # Formula
   = (0.14-0.20)-0.10 / SQRT((0.14(1-0.14)/300) + (0.20(1-0.20)/700))
   =  -0.16/ SQRT(0.0004 + 0.00023)
   = 3.118

Z(0.001)= 3.09


Since Z lies in the critical region, reject the H0 and accept the H1.

### Problem Statement 17

In [ ]:
A die is thrown 132 times with the following results: Number turned up: 1, 2, 3, 4, 5, 6
Frequency: 16, 20, 25, 14, 29, 28
Is the die unbiased? Consider the degrees of freedom as ùëù ‚àí1 .

In [ ]:
H0: The die is fair
H1: This is not fair

In [ ]:
The expected frequencies are based on a uniform
distribution which gives each   Ei  as

Ei = (1/6) (16 + 20 + 25 + 14 + 29 + 28)
   = 22
    
Score	Oi	Ei	Oi-Ei	(Oi-Ei)2	(Oi-Ei)2 / Ei
1	16	22	-6	36	1.64
2	20	22	-2	4	0.18
3	25	22	3	9	0.41
4	14	22	-8	64	2.91
5	29	22	7	49	2.23
6	28	22	6	36	1.64
				Sum	9.00
    
Chi square test = 9
df =6-1=5
Let alpha =0.05

Chi square = 11.070

Since the chi square value doesnot lie in the critical region, we accept the H0
Die is fair and unbiased

### Problem Statement 18

In [ ]:
In a certain town, there are about one million eligible voters. A simple random
sample of 10,000 eligible voters was chosen to study the relationship between
gender and participation in the last election. The results are summarized in the
following 2X2 (read two by two) contingency table:
    
                Men       WOmen
    Voted       2792       3591
    Not voted   1486       2131
    
    We would want to check whether being a man or a woman (columns) is independent of
having voted in the last election (rows). In other words, is ‚Äúgender and voting independent‚Äù?

In [ ]:
Formula: expected frequencies = row totals x column totals 
                                 --------------------------
                                        grand total 
chi square= (O ‚Äì e)2            
            -------
               e 
d.f. = (rows - 1) * (columns - 1)

In [ ]:
H0: Gender and voting are independent
H1: Gender and voting are dependent

In [ ]:
Given data

Men	Women	Total
Voted	2792	3591	6383
Not voted	1486	5722	3617
Total	4278	5722	10000

Expected table

	Men	Women	Total
Voted	2731	3652	6383
Not voted	1547	2070	3617
Total	4278	2070	10000

Chi square		
	Men	Women
Voted	1.36	1.02
Not voted	2.41	1.8

Chi square = 1.4+1.0+2.4+1.8 = 6.6

df = 2-1 =1

Since X2 is 6.6 which has a value of 1%, we have to reject the NULL hypothesis.  
The data supports the hypothesis that gender and voting are dependent in this town.

### Problem Statement 19

In [ ]:
A sample of 100 voters are asked which of four candidates they would vote for in an
election. The number supporting each candidate is given below:
    Higgins  Reardon     White    Charlton
      41       19         24         16

    
Do the data suggest that all candidates are equally popular? [Chi-Square = 14.96,
with 3 df, ùëù 0.05 .

In [ ]:
H0: All candidates are equally popular
H1: All candidates are not equally popular

In [ ]:
	Oi	Ei	Oi-Ei	(Oi-Ei)2	(Oi-Ei)2 / Ei
Higgins	41	25	16	256	10.24
Reardon	19	25	-6	36	1.44
White	24	25	-1	1	0.04
Charlton	16	25	-9	81	3.24
				Total	14.96

Chi square calculated = 14.96
df = 4-1=3

Chi square(0.05)= 7.815

Chi square value obtained by calculation is greater than the Chi square for 0.05 significance.
Hence, reject the H0 and accept the H1 i.e. All candidates are not equally popular

### Problem Statement 20

In [ ]:
Children of three ages are asked to indicate their preference for three photographs of
adults. Do the data suggest that there is a significant relationship between age and
photograph preference? What is wrong with this study? [Chi-Square = 29.6, with 4
df: ùëù < 0.05].
                    Photograpg
                         A      B      C  
Age of child 5-6 yrs     18     22     20
             7-8 yrs      2     28     40
             9-10 yrs    20     10     40

In [ ]:
H0: There is no relationship between age and photograph preference
H1: There is relationship between age and photograph preference

In [ ]:
		Photograh			
		A	B	C	Row total
Age of child	5-6 yrs	18	22	20	60
	7-8 yrs	2	28	40	70
	9-10 yrs	20	10	40	70
	Col total	40	60	100	200

    
Expected frequency = row total * column total
                     ------------------------
                      grand total
        
        
        
O:  18     22     20     2     28     40      20     10     40 
E:  12     18     30     14    21     35      14     21     35
    
O	E	O-E	(O-E)^2	(O-E)^2 / E
18	12	6	36	3.00
22	18	4	16	0.89
20	30	-10	100	3.33
2	14	-12	144	10.29
28	21	7	49	2.33
40	35	5	25	0.71
20	14	6	36	2.57
10	21	-11	121	5.76
40	35	5	25	0.71
			Sum	29.60

Chi square calculated = 29.60

d.f. = (rows - 1) * (columns - 1) = 2*2=4

Chi square(0.05)=9.488

Chi square value obtained by calculation is greater than the Chi square for 0.05 significance.
Hence, reject the H0 and accept the H1 i.e.There is relationship between age and photograph preference

### Problem Statement 21

In [ ]:
A study of conformity using the Asch paradigm involved two conditions: one where
one confederate supported the true judgement and another where no confederate
gave the correct response.

                Support     No Support
Conform           18            40
Not conform       32            10


Is there a significant difference between the "support" and "no support" conditions in the
frequency with which individuals are likely to conform? [Chi-Square = 19.87, with 1 df:
ùëù < 0.05].

In [ ]:
                Support     No Support  ROw total
Conform           18            40        58
Not conform       32            10        42
COl total         50            50        100


(a) Calculate the row, column and grand totals.
(b) Calculate the expected frequency for each cell of the table, by multiplying together the appropriate 
    row and column totals and then dividing by the grand total.
(c) Subtract each expected frequency from its associated observed frequency; 
    but then apply Yates' correction, by subtracting 0.5 from the absolute value of each O-E value. 
    (The vertical bars in the formula mean "ignore any minus signs").
    
O:  18  40  32  10
E:  29  29  21  21
    
(|O-E|-0.5)  10.5  10.5  10.5  10.5

(|O-E|-0.5)^2   110.25   110.25   110.25   110.25


(|O-E|-0.5)^2   3.80    3.80    5.25    5.25
-------------
     E
    
    
Chi square calculated = 18.1
df=1*1 =1

Chi square(0.05)=3.841

Our obtained value of Chi-Squared is bigger than the critical value of Chi-Squared 
Therefore we can conclude that there is a significant difference between 
the "support" and "no support" conditions, in terms of the frequency with which individuals conformed.

### Problem Statement 22

In [ ]:
We want to test whether short people differ with respect to their leadership qualities
(Genghis Khan, Adolf Hitler and Napoleon were all stature-deprived, and how many midget
MP's are there?) The following table shows the frequencies with which 43 short people and
52 tall people were categorized as "leaders", "followers" or as "unclassifiable". Is there a
relationship between height and leadership qualities?
[Chi-Square = 10.71, with 2 df: ùëù < 0.01].

In [ ]:
H0: There is no relationship between height and leadership qualities
H1: There is a relationship between height and leadership qualities    
                  Heights
                  Short      Tall    Rows Total
Leaders            12         32          44
FOllowers          22         14          36  
Unclassified        9          6          15
Col Total          43         52          95


O:           12     32      22       14      9      6
E:         19.91  24.08   16.29    19.70    6.79   8.21
    
(O-E):     7.91     7.92    5.71    5.7     2.21    2.21
(o-E)^2:   62.56    62.73   32.60   32.49   4.88    4.88
(o-E)^2/E: 3.14     2.60    2       1.65    0.72    0.6
    
Chi square =10.71
df=2*1=2
Chi squre(0.01)=9.210

Our obtained value of Chi-Squared is bigger than the critical value of Chi-Squared 
Therefore we can conclude that there is a relationship between height and leadership qualities

### Problem Statement 23

In [ ]:
Each respondent in the Current Population Survey of March 1993 was classified as
employed, unemployed, or outside the labor force. The results for men in California age 35-
44 can be cross-tabulated by marital status, as follows:
    
Men of different marital status seem to have different distributions of labor force status. Or is
this just chance variation? (you may assume the table results from a simple random
sample.)

H0: ROws and columns are independent
H1: There is relationship between rows and columns


                      Married    Widowed     Never married    Rows Totals
Employed                 679      103          114              896
Unemployed                63       10           20              93
Not in labour force       42       18           25              85
Cols total               784      131          159             1074

O:            679      103      114     63      10      20     42      18      25
E:          654.06   109.29  132.65   67.89  11.34   13.76   62.05    10.37   12.58

(O-E) :      24.94   6.29     18.65    4.89    1.34   6.24    20.05   7.63    12.42
(O-E)^2 :    622     39.56    347.82   23.91   1.8    38.94   402     58.21   154.26
(O-E)^2/E:   0.95    0.36     2.62     0.35    0.16   2.83    6.48    5.61    12.26

Chi square calculated = 31.62
df=2*2= 4

Chi square(0.05)=9.488

Our obtained value of Chi-Squared is bigger than the critical value of Chi-Squared 
Therefore we can conclude that there is relationship between rows and columns